{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row row-background">
      <h2>Mis Pedidos</h2>

      <div class="col-md-12">
        <div class="card-columns">
            {% if recetas_usuario %}
            <ul>
              {% for receta in recetas_usuario %}
                <li>{{ receta.nombre }} - {{ receta.descripcion }}</li>
              {% endfor %}
            </ul>
          {% else %}
          <br>
            <p>No hay pedidos para mostrar.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
