{% extends 'base.html' %}

{% block content %}

    {% load static %}

  <div class="container mt-5">

    <div class="row row-background" style="text-align: justify;">

      <div class="row row-background" style="text-align: justify;">

      <h1 class="text-center mb-5">Quienes Somos</h1>

      <!-- Agrega la imagen debajo del título -->
      <img src="{% static 'img/Medicamentos.jpg' %}" alt="Imagen de Medicamentos" class="img-fluid">

      <h4>Farmacias Espoz S.A.: Líderes en Salud y Compromiso</h4>
      <br><br>
      <p style="margin-bottom: 1em; padding: 0 30px;">Somos la cadena de Farmacias Espoz S.A., un referente en constante crecimiento que se distingue por representar a los establecimientos
        independientes en el sector farmacéutico. Nos enorgullece ser la primera opción para nuestros clientes, proporcionándoles un servicio de calidad con eficiencia 
        y marcando presencia con la mayor participación de mercado en la región metropolitana.</p>
      <br><br>
      <p style="margin-bottom: 1em; padding: 0 30px;">En Farmacias Espoz, nos destacamos por nuestro compromiso con la salud y el bienestar de la comunidad. 
        Buscamos superar las expectativas de nuestros clientes al ofrecer una amplia gama de productos y servicios de calidad, 
        respaldados por un equipo profesional altamente capacitado.</p>
      <br><br>
      <p style="margin-bottom: 1em; padding: 0 30px;">Nuestra filosofía se centra en crear un ambiente laboral de alto desempeño, donde la dedicación y el compromiso de nuestros 
        colaboradores son fundamentales. Valoramos y fomentamos el respeto mutuo, reconociendo la importancia de cada miembro de nuestro 
        equipo en el éxito continuo de Farmacias Espoz.</p>
      <br><br>
      <p style="margin-bottom: 1em; padding: 0 30px;">En cada paso que damos, reafirmamos nuestro compromiso con la excelencia, la innovación y la satisfacción del cliente. 
        Farmacias Espoz S.A. es más que una cadena de farmacias; somos un pilar fundamental en el cuidado de la salud de la comunidad, 
        construyendo relaciones sólidas y duraderas con nuestros clientes y colaboradores.</p>
      <br><br>     
      <p style="margin-bottom: 1em; padding: 0 30px;">Únase a nosotros en nuestro viaje hacia un futuro más saludable y próspero. En Farmacias Espoz, estamos comprometidos con su bienestar.</p>
      <br><br>
    </div>
  </div>
{% endblock %}
